<div id="<%= dom_id library %>">
  <p>
    <strong>Librarian:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= library.email_id %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= library.library %>
  </p>


</div>
